<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>pwd</display-name>
	<listener>
		<listener-class>com.init.StartInit</listener-class>
	</listener>
	<servlet>
		<servlet-name>ActionServlet</servlet-name>
		<servlet-class>com.struts.ActionServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>VerifyCode</servlet-name>
		<servlet-class>com.servlet.VerifyCode</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Index</servlet-name>
		<servlet-class>com.servlet.Index</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ZX</servlet-name>
		<servlet-class>com.servlet.ZXServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Monitor</servlet-name>
		<servlet-class>com.servlet.Monitor</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>VerifyCode</servlet-name>
		<url-pattern>/verifycode</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Index</servlet-name>
		<url-pattern>/admin/Index</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ZX</servlet-name>
		<url-pattern>/zx</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Monitor</servlet-name>
		<url-pattern>/Monitor</url-pattern>
	</servlet-mapping>
	<filter>
		<description>过滤是否登陆</description>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.filter.LoginFilter</filter-class>
		<init-param>
			<description>配置白名单</description>
			<param-name>noCheck</param-name>
			<param-value> 
			</param-value>
		</init-param>
		<init-param>
			<description>过滤不成功转向地址</description>
			<param-name>redirectPath</param-name>
			<param-value>
				/login.jsp
			</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>
	<filter>
		<display-name>LoginCheckFilter</display-name>
		<filter-name>LoginCheckFilter</filter-name>
		<filter-class>com.filter.LoginCheckFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginCheckFilter</filter-name>
		<url-pattern>/login.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginCheckFilter</filter-name>
		<url-pattern>/sign-up.jsp</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>IpFilter</filter-name>
		<filter-class>com.filter.IpFilter</filter-class>
		<init-param>
			<param-name>charset</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>IpFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<display-name>IndexFilter</display-name>
		<filter-name>IndexFilter</filter-name>
		<filter-class>com.filter.IndexFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>IndexFilter</filter-name>
		<url-pattern>/admin/index.jsp</url-pattern>
	</filter-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<listener>
		<listener-class>com.Listener.SessionListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.Listener.ContextListener</listener-class>
	</listener>
</web-app>